img.flytype{
    width: 30px;
    height: 30px;
}
img.company{
    width: 90px;
    height: 30px;
    text-align: center;
}
table{
    border: 1px solid lightgray;
    width: 85%;
    height: 10in;
    margin: auto;
}
td {
    border: 1px solid lightgray;
    }
tr:nth-child(2n){
    background: cyan ;
}
tr:nth-child(2n+1){
    background: lightcyan;
}
tr:hover{
    background: lightpink;
}
fieldset{
    background:snow;
}

tr:hover~tr:nth-child(n) td:nth-child(3n){
    background: lawngreen;
}